@font-face {
    font-family: spartanFont;
    src: url('../assets/fonts/ClearSans-Regular.ttf');
}
:root {
  /*--bg-color-1: #247ba0;
  --bg-color-2: #70c1b3;
  --bg-color-3: #b2dbbf;*/

  --bg-color-1: #e5e6e4; /*left - right*/
  --bg-color-2: #cfd2cd; /*right - left*/
  --bg-color-3: #EBEBEB; /*backround*/
}
* {
  box-sizing: border-box;
}
body {
  background: rgb(204,204,204);
}
page[size="A4"] {
  position: relative;
  /*background: linear-gradient(45deg, var(--bg-color-1) 12%, transparent 0, transparent 88%, var(--bg-color-1) 0),
    linear-gradient(135deg, transparent 37%, var(--bg-color-2) 0, var(--bg-color-2) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, var(--bg-color-1) 0, var(--bg-color-1) 63%, transparent 0) var(--bg-color-3);
    background-size: 5em 5em;
    */
  background: linear-gradient(45deg, #e5e6e4 12%, transparent 0, transparent 88%, #e5e6e4 0),
    linear-gradient(135deg, transparent 37%, #cfd2cd 0, #cfd2cd 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #e5e6e4 0, #e5e6e4 63%, transparent 0) #EBEBEB;
    background-size: 5em 5em;

  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  padding-top: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page-bottom {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
    page-break-after: always;
  }
}

h1.title {
  width: 100%;
  text-align: center;
  margin: 0 0 0.5em 0;
}
h2 {
  font-size: 1.2em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

h3 {
  font-size: 1em;
	margin: .5em 0 .5em 0;
	padding: 0;
}

ul {
	display: block;
	list-style-type: square;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2em;
}
#footnotes-list {
  margin-top: 0;
}
a {
	text-decoration: none;
	font-weight: bold;
  color: rgba(0, 117, 167, 1);
}
.version-info {
  width: 100%;
  text-align: right;
  font-size: 0.7em;
  padding-right: 0.5em;
  margin-top: -0.5cm;
}
.footnote {
  font-size: 0.5em;
  font-weight: bold;
  /*margin-left: 0.2em;*/
  vertical-align: super;
  color: #000;
}
.link-pane {
	display: flex;
	justify-content: flex-end;
}
.section-layout {
	display: flex;
	flex-direction: row;
	border: 1px dashed #000;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
	margin-bottom: 0.5cm;
  background: rgba(255, 255, 255, 0.5);
	/*min-width: 568px;*/
}
.header-wrapper {
	flex: 0 0 2em;
	max-width: 2em;
	min-height: 180px;
	padding-top: .5em;
	position: relative;
}
.section-header {
	display: inline-block;
	position: absolute;
	right: 100%;
	transform: rotate(270deg);
	transform-origin: right top;
	letter-spacing: .1em;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	white-space: nowrap;
}
.section-content {
	flex: 1 1 auto;
	max-width: 100%;
	width: 100%;
	padding: .5em .5em .5em 1em;
	position: relative;
	/*min-width: 545px;*/
}
.section-content > h2 {
	max-width: 100%;
}
.section-content > .side-container {
	position: relative;
	text-align: center;

	float: right;
	margin-left: 1em;
	padding: .5em;
	width: auto;
	min-width: calc(150px + 1em);
	min-height: 180px;
}
.side-container > img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.side-container > .social-container {
	/*display: inline-block;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
	margin-right: auto;
	margin-left: auto;
	margin-top: .2em;

}
.info-container {
	display: flex;
	/*flex: 0 1 67%;*/
	max-width: 100%;

	flex-direction: column;
	text-align: center;
}
.info-container > * {
	flex: 0 1 auto;
}
.info-row {
	display: flex;
	padding-bottom: .2em;
	padding-top: .2em;
	border-bottom: 1px dashed #000;
}
.info-row:last-child {
	border: none;
}
.info-column-left {
	flex: 1 0 50%;
	max-width: 50%;
	text-align: right;
	padding-right: 1em;
	border-right: 1px solid #000;
}
.info-column-right {
	flex: 1 0 50%;
	max-width: 50%;
	padding-left: 1em;
	text-align: left;
}
.shadow {
	/*filter: drop-shadow(0px 0px 10px rgba(255,255,255,.3));*/
}
.svg-image {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 100%;
	height: auto;
	max-height: 100%;


}
.bold {
	font-weight: bold;
}
.align-left {
	text-align: left;
}
.intent {
	padding-left: 2em;
}
.color-space {
	background-color: #003150;
	color: #FFFFFF;
}
.color-air {
	background-color: #d7dad6;
	color: #000000;
}
.color-fire {
	background-color: #54000e;
	color: #FFFFFF;
}
.color-water {
	background-color: #006b3a;
	color: #FFFFFF;
}
.color-earth {
	background-color: #dc9e01;
	color: #FFFFFF;
}
.color-deepunder {
	background-color: #00268F;
	color: #FFFFFF;
}
.border-space {
	border: 1px solid #003150;
	background-color: rgba(0, 49, 80, 1);
	color: #FFFFFF;
}
.border-air {
	border: 1px solid #d7dad6;
	background-color: rgba(215, 218, 214, 1);
	color: #081c2a;
}
.border-fire {
	border: 1px solid #54000e;
	background-color: rgba(84, 0, 14, 1);
	color: #FFFFFF;
}
.border-water {
	border: 1px solid #006b3a;
	background-color: rgba(0, 107, 58, 1);
	color: #FFFFFF;
}
.border-earth {
	border: 1px solid #dc9e01;
	background-color: rgba(220, 158, 1, 1);
	color: #FFFFFF;
}
.tooltip {
	color: rgba(220, 158, 1, 1);
}
/*Tooltip*/
/*.tooltip span.tooltip-text {
	display:none;
	color:#fff;
	background:rgba(51,51,51,0.85);
	padding: 0.5em 1em;
	border-radius: 4px;
	text-align:center;
	position: absolute;
	z-index:10;
}
.tooltip {
	color: rgba(220, 158, 1, 1);
	text-decoration: underline;
	display: inline-block;
	cursor: pointer;
}
.tooltip:hover span{ display:block; }
.tooltip:active span{ display:block; }*/
