---
layout: default
title: Blog
stylesheet: blog.css
---
{% for post in site.posts %}
<div class="post-container">
	<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
	<article>
	  <header><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></header>
	  <div class="excerpt-container">
		{% if post.thumbnail %}
		  <img class="blog-img" src="{{site.baseurl}}/assets/img/thumbnails/{{post.thumbnail}}" alt="thumbnail image">
		{% endif %}
		  <div class="post-excerpt">
		  {{ post.excerpt | strip_html }}
		  </div>
	  </div>
	  <a href="{{site.baseurl}}{{post.url}}" class="more">more...</a>
	</article>
</div>

{% endfor %}
