---
layout: default
title: Software and Web Developer
stylesheet: index.css
---
<section class="center-text">
<h1 class="top-margin-spacer">Work in progress</h1>
<div class="info-container">
	<p>I am currently looking for freelance work.</p>
	<p>But as well for interesting projects in a collaborative manner.</p>
	<p><a href="{{site.baseurl}}/contact/">Get in contact with me.</a></p>
</div>
<div class="info-container" lang="fr">
	<p>Actuellement, je suis à la recherche du travail en freelance.</p>
	<p>Mais aussi disponible pour des projets intéressants en général.</p>
	<p><a href="{{site.baseurl}}/contact/">Contactez moi.</a></p>
</div>
</section>
<section class="full-width-container">
	<h2>News</h2>
	<div class="news-container">
		<div class="news-item" role="article">
			<h3>Posts:</h3>
			<ul>
			{% assign posts_list = site.posts | sort: 'date' | reverse %}
			{% for post in posts_list limit:6 %}
			<li>{{post.date | date: "%b %-d, %Y"}} - <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="news-item" role="article">
			<h3>Exhibitions:</h3>
			<ul>
			{% assign col_list = site.exhibitions | sort: 'date' | reverse %}
			{% for item in col_list limit:6 %}
			<li>{{item.date | date: "%b %-d, %Y"}} - <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
			{% endfor %}
			</ul>
		</div>

		<!--<div class="news-item" role="article">
			<h3>Test:</h3>
			<ul>
			{% for project in site.exhibitions %}
				{% if project.url contains 'web' %}
				<li>{{project.title}}</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>-->
	</div>
</section>
