{% assign data = site.data.cvdata %}
{% assign lang = page.lang %}
<h1>{{data.title.[lang]}}</h1>
{% if page.url == '/curriculum/'%}<div class="link-pane">
	<a href="{{site.baseurl}}/curriculum_solo/" target="_blank">Print version</a>
	<a href="{{site.baseurl}}/assets/pdf/Michael_Kittenberger_CV.pdf" target="_blank" style="margin-left: 1em;">PDF version</a>
	<!--<a href="{{site.baseurl}}/curriculum_fr/" target="_self" style="margin-left: 1em;">Version français</a>-->
</div>
{% endif %}
<section class="section-layout">
	<div class="header-wrapper color-space">
		<h1 class="section-header">{{data.section1.title.[lang]}}</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-space">
			<img src="{{site.baseurl}}/assets/img/photo_me_01.png" alt="{{data.section1.side-data.photo-alt.[lang]}}" width="150">
			<div class="social-container">
				<a href="https://github.com/MichaPau" target="_blank"><img src="{{site.baseurl}}/assets/img/github_24.png" alt="{{data.section1.side-data.social-data.github.[lang]}}"></a>
				<a href="http://fr.viadeo.com/fr/profile/michael.kittenberger" target="_blank"><img src="{{site.baseurl}}/assets/img/viadeo_24.png" alt="{{data.section1.side-data.social-data.viadeo.[lang]}}"></a>
				<a href="http://stackoverflow.com/users/1456318/michapau?tab=profile" target="_blank"><img src="{{site.baseurl}}/assets/img/stackoverflow_24.png" alt="{{data.section1.side-data.social-data.stackoverflow.[lang]}}"></a>
				<a href="https://fr.linkedin.com/in/michael-kittenberger-70a3961a" target="_blank"><img src="{{site.baseurl}}/assets/img/linkedin_24.png" alt="{{data.section1.side-data.social-data.linkedin.[lang]}}"></a>
			</div>
		</div>
		<h2>{{data.section1.subtitle.[lang]}}</h2>
		<div class="info-container">
			<div class="info-row">
				<div class="info-column-left">{{data.section1.info.name-label.[lang]}}</div>
				<div class="info-column-right">Michael Kittenberger</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">{{data.section1.info.birth-label.[lang]}}</div>
				<div class="info-column-right">{{data.section1.info.birth-value.[lang]}}</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">{{data.section1.info.loc-label.[lang]}}</div>
				<div class="info-column-right">Rennes, Brittany</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">{{data.section1.info.mail-label.[lang]}}</div>
				<div class="info-column-right">{{data.section1.info.mail-value.[lang]}}</div>
			</div>
			 <div class="info-row">
				<div class="info-column-left">{{data.section1.info.webpage-label.[lang]}}</div>
				<div class="info-column-right"><a href="http://www.michapau.net" target="_blank">www.michapau.net</a></div>
			</div>
		</div>

	</div>
</section>
{% assign data = site.data.cvdata.section2 %}
<section class="section-layout">
	<div class="header-wrapper color-air">
		<h1 class="section-header">{{data.title.[lang]}}</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-air">
			 "When spider webs unite, they can tie up a lion."<br>- Ethiopian proverb -
		</div>
		<h2>{{data.subtitle.[lang]}}</h2>
		<div class="info-container align-left">
      {% for item in data.sections %}
      <h3>{{item[1].title.[lang]}}</h3>
      <div role="presentation">
        {{item[1].text.[lang]}}
      </div>
      {% endfor %}
	</div>
</section>
{% assign data = site.data.cvdata.section3 %}
 <section class="section-layout">
	<div class="header-wrapper color-fire">
		<h1 class="section-header">{{data.title.[lang]}}</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-fire">
			“All our knowledge has its origins in our perceptions” <br> - Leonardo Da Vinci -
		</div>
		<h2>{{data.subtitle.[lang]}}</h2>
		<div class="info-container align-left">
			{% for item in data.sections %}
      <h3>{{item[1].title.[lang]}}</h3>
			<!--{{item[1]}}-->
				<span class="intent">
				{% for subitem in item[1].items %}
					{% if subitem.[lang].tooltip %}
						<span class="tooltip">{{subitem.[lang].text}}
							<span>{{subitem.[lang].tooltip}}</span>
						</span>
					{% else %}
						{{subitem.[lang].text}}
					{% endif %}
				{% endfor%}
				</span>
			{% endfor %}
		</div>
	</div>
</section>
{% assign data = site.data.cvdata.section4 %}
<section class="section-layout">
	<div class="header-wrapper color-water">
		<h1 class="section-header">{{data.title.[lang]}}</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-water">
			“Education isn't something you can finish” <br> - Isaac Asimov -
		</div>
		<h2>{{data.subtitle.[lang]}}</h2>
		<div class="info-container align-left">
			{% for item in data.sections %}
      <h3>{{item[1].title.[lang]}}</h3>
				<ul>
				{% for subitem in item[1].items %}
				<li>{{subitem.[lang].text}}</li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>
</section>
{% assign data = site.data.cvdata.section5 %}
<section class="section-layout">
	<div class="header-wrapper color-earth">
		<h1 class="section-header">{{data.title.[lang]}}</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-earth"></div>
		<h2>{{data.subtitle.[lang]}}</h2>
		 <div class="info-container align-left">
			{{data.text.[lang]}}
		 </div>
	</div>
</section>
<script>
	console.log(document.body.innerText);
</script>
