{% assign data = site.data.cvdata %}
{% assign lang = page.lang %}

<page size="A4">
  <div class="version-info">{{data.version.[lang]}}</div>
  <h1 class="title">{{data.title.[lang]}}</h1>
    <section class="section-layout">
  	<div class="header-wrapper color-space">
  		<h1 class="section-header">{{data.section1.title.[lang]}}</h1>
  	</div>
  	<div class="section-content">
  		<div class="side-container">
  			<img src="{{site.baseurl}}/assets/img/photo_me_02.png" alt="{{data.section1.side-data.photo-alt.[lang]}}" width="150">
  			<div class="social-container">
  				<a href="https://github.com/MichaPau" target="_blank"><img src="{{site.baseurl}}/assets/img/github_24.png" alt="{{data.section1.side-data.social-data.github.[lang]}}"></a><span class="footnote" data-order="2" data-url="https://github.com/MichaPau">(1)</span>
  				<a href="http://fr.viadeo.com/fr/profile/michael.kittenberger" target="_blank"><img src="{{site.baseurl}}/assets/img/viadeo_24.png" alt="{{data.section1.side-data.social-data.viadeo.[lang]}}"></a><span class="footnote" data-order="3" data-url="http://fr.viadeo.com/fr/profile/michael.kittenberger">(2)</span>
  				<a href="http://stackoverflow.com/users/1456318/michapau?tab=profile" target="_blank"><img src="{{site.baseurl}}/assets/img/stackoverflow_24.png" alt="{{data.section1.side-data.social-data.stackoverflow.[lang]}}"></a><span class="footnote" data-order="4" data-url="http://stackoverflow.com/users/1456318/michapau?tab=profile">(3)</span>
  				<a href="https://fr.linkedin.com/in/michael-kittenberger-70a3961a" target="_blank"><img src="{{site.baseurl}}/assets/img/linkedin_24.png" alt="{{data.section1.side-data.social-data.linkedin.[lang]}}"></a><span class="footnote" data-order="5" data-url="https://fr.linkedin.com/in/michael-kittenberger-70a3961a">(4)</span>
  			</div>
  		</div>
  		<h2>{{data.section1.subtitle.[lang]}}</h2>
  		<div class="info-container">
  			<div class="info-row">
  				<div class="info-column-left">{{data.section1.info.name-label.[lang]}}</div>
  				<div class="info-column-right">Michael Kittenberger</div>
  			</div>
  			<div class="info-row">
  				<div class="info-column-left">{{data.section1.info.birth-label.[lang]}}</div>
  				<div class="info-column-right">{{data.section1.info.birth-value.[lang]}}</div>
  			</div>
  			<div class="info-row">
  				<div class="info-column-left">{{data.section1.info.loc-label.[lang]}}</div>
  				<div class="info-column-right">{{data.section1.info.loc-value.[lang]}}</div>
  			</div>
  			<div class="info-row">
  				<div class="info-column-left">{{data.section1.info.mail-label.[lang]}}</div>
  				<div class="info-column-right">michael_kittenberger@yahoo.fr</div>
  			</div>
        <div class="info-row">
  				<div class="info-column-left">Téléphone:</div>
  				<div class="info-column-right">+33 (0)6 09 58 96 24</div>
  			</div>
			 <div class="info-row">
				<div class="info-column-left">{{data.section1.info.webpage-label.[lang]}}</div>
				<div class="info-column-right"><a href="http://www.michapau.net" target="_blank">www.michapau.net</a></div>
			</div>
  		</div>
  	</div>
  </section>
{% assign data = site.data.cvdata.section2 %}
{% assign footnote_count = 4 %}
  <section class="section-layout">
  	<div class="header-wrapper color-air">
  		<h1 class="section-header">{{data.title.[lang]}}</h1>
  	</div>
  	<div class="section-content">
  		<h2>{{data.subtitle.[lang]}}</h2>
  		<div class="info-container align-left">
        {% for item in data.sections %}
        <h3>{{item[1].title.[lang]}}</h3>
        <div role="presentation">
          {{item[1].text.[lang]}}
        </div>
        {% endfor %}
  	</div>
  </section>
  {% assign data = site.data.cvdata.section3 %}
   <section class="section-layout">
  	<div class="header-wrapper color-fire">
  		<h1 class="section-header">{{data.title.[lang]}}</h1>
  	</div>
  	<div class="section-content">
  		<h2>{{data.subtitle.[lang]}}</h2>
  		<div class="info-container align-left">
  			{% for item in data.sections %}
        <h3>{{item[1].title.[lang]}}</h3>
  				<span class="intent">
  				{% for subitem in item[1].items %}
  					{% if subitem.[lang].tooltip %}
             {% assign footnote_count=footnote_count | plus:1 %}
  						<span class="tooltip">{{subitem.[lang].text}}
  							<span class="footnote" data-order="{{footnote_count}}" data-url="{{subitem.[lang].tooltip}}">({{footnote_count}})</span>
  						</span>
            {% elsif subitem.[lang].link %}
              {% assign footnote_count=footnote_count | plus:1 %}
              {{subitem.[lang].text}}<span class="footnote" data-order="{{footnote_count}}" data-url="{{subitem.[lang].link}}">({{footnote_count}})</span>
  					{% else %}
  						{{subitem.[lang].text}}
  					{% endif %}
  				{% endfor%}
  				</span>
  			{% endfor %}
  		</div>
  	</div>
  </section>
  <div class="page-bottom"><span class="bold">1</span>/2</div>
</page>

<page size="A4">
  {% assign data = site.data.cvdata.section4 %}
  <section class="section-layout">
  	<div class="header-wrapper color-water">
  		<h1 class="section-header">{{data.title.[lang]}}</h1>
  	</div>
  	<div class="section-content">
  		<h2>{{data.subtitle-print.[lang]}}</h2>
  		<div class="info-container align-left">
  			{% for item in data.sections %}
        <h3>{{item[1].title.[lang]}}</h3>
  				<ul>
  				{% for subitem in item[1].items %}
  				<li>
            {{subitem.[lang].text}}
            {% if subitem.[lang].link %}
            {% assign footnote_count=footnote_count | plus:1 %}
            <span class="footnote" data-order="{{footnote_count}}" data-url="{{subitem.[lang].link}}">({{footnote_count}})</span>
            {% endif %}
          </li>
  				{% endfor %}
  				</ul>
  			{% endfor %}
  		</div>
  	</div>
  </section>
  {% assign data = site.data.cvdata.section5 %}
  <section class="section-layout">
  	<div class="header-wrapper color-earth">
  		<h1 class="section-header">{{data.title.[lang]}}</h1>
  	</div>
  	<div class="section-content">
  		<h2>{{data.subtitle.[lang]}}</h2>
  		 <div class="info-container align-left">
  			{{data.text.[lang]}}
  		 </div>
  	</div>
  </section>
  {% assign data = site.data.cvdata.section6 %}
  <section class="section-layout">
    <div class="header-wrapper color-deepunder">
      <h1 class="section-header">{{data.title.[lang]}}</h1>
    </div>
    <div class="section-content">
      <ul id="footnotes-list">
      </ul>
    </div>
  </section>
  <div class="page-bottom"><span class="bold">2</span>/2</div>
</page>
<script>
  var footnotes = document.getElementsByClassName("footnote");
  //NodeList implements ICollection - yeah I'am dreaming it's still Javascript
  var footnotesArray = Array.prototype.slice.call(footnotes);
  var footnoteList = document.getElementById("footnotes-list");
  var footnoteSort = function(a, b) {
    return parseInt(a.dataset.order) - parseInt(b.dataset.order);
  };
  footnotesArray.sort(footnoteSort);

  for (i = 0; i < footnotesArray.length; i++) {
    var note = document.createElement("li");
    var noteText = document.createTextNode(footnotesArray[i].innerHTML + " " + footnotesArray[i].dataset.url.replace(/<br>/g, ''));
    note.appendChild(noteText);
    footnoteList.appendChild(note);
  }
</script>
