<h1 class="title">Curriculum vitae</h1>
{% if page.url == '/curriculum_fr/'%}<div class="link-pane">
	<a href="{{site.baseurl}}/curriculum_solo/" target="_blank">Print version</a>
	<a href="{{site.baseurl}}/assets/pdf/Michael_Kittenberger_CV.pdf" target="_blank" style="margin-left: 1em;">PDF version</a>
	<a href="{{site.baseurl}}/curriculum/" target="_self" style="margin-left: 1em;">English version</a>
</div>
{% endif %}
<section class="section-layout">
	<div class="header-wrapper color-space">
		<h1 class="section-header">Informations</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-space">
			<img src="{{site.baseurl}}/assets/img/photo_me_01.png" alt="Photo de Michael Kittenberger." width="150">
			<div class="social-container">
				<a href="https://github.com/MichaPau" target="_blank"><img src="{{site.baseurl}}/assets/img/github_24.png" alt="lien vers profil github"></a>
				<a href="http://fr.viadeo.com/fr/profile/michael.kittenberger" target="_blank"><img src="{{site.baseurl}}/assets/img/viadeo_24.png" alt="lien vers profil viadeo"></a>
				<a href="http://stackoverflow.com/users/1456318/michapau?tab=profile" target="_blank"><img src="{{site.baseurl}}/assets/img/stackoverflow_24.png" alt="lien vers profil stackoverflow"></a>
				<a href="https://fr.linkedin.com/in/michael-kittenberger-70a3961a" target="_blank"><img src="{{site.baseurl}}/assets/img/linkedin_24.png" alt="lien vers profil linkedin"></a>
			</div>
		</div>
		<h2>Quelques données superficielles.</h2>
		<div class="info-container">
			<div class="info-row">
				<div class="info-column-left">Nom</div>
				<div class="info-column-right">Michael Kittenberger</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">Date et lieu de naissance</div>
				<div class="info-column-right">6. Janviér 1973 à Vienne, Autriche</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">L'adresse actuelle</div>
				<div class="info-column-right">Rennes, Bretagne</div>
			</div>
			<div class="info-row">
				<div class="info-column-left">Email</div>
				<div class="info-column-right">Svp. contactez moi par la page <a href="{{site.baseurl}}/contact/">de contact</a></div>
			</div>
			 <div class="info-row">
				<div class="info-column-left">Site internet</div>
				<div class="info-column-right"><a href="http://www.michapau.net" target="_blank">www.michapau.net</a></div>
			</div>
		</div>

	</div>
</section>
<section class="section-layout">
	<div class="header-wrapper color-air">
		<h1 class="section-header">Expériences</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-air">
			 "When spider webs unite, they can tie up a lion."<br>- Ethiopian proverb -
		</div>
		<h2>Cliénts, Employeurs et personnes auprès j'ai travaillé.</h2>
		<div class="info-container align-left">
			<h3>France (depuis 2006)</h3>
			<div role="presentation"><a href="{% post_url 2016-08-20-lautre-sommeil-webpage %}">L'autre sommeil</a>, Everial (Ouest-France), TWHB Inc., Eurotunnel, France Telecom, Orange Labs, Koloriage,
			Qualimedia, Trakteur</div>
			<h3>Autriche (1999 - 2005)</h3>
			Medwell Internet Services AG, Nofrontiere Design AG, ACE GmbH
		</div>
	</div>
</section>
<section class="section-layout">
<div class="header-wrapper color-fire">
	<h1 class="section-header">Compétences</h1>
</div>
<div class="section-content">
	<div class="side-container shadow border-fire">
		“All our knowledge has its origins in our perceptions” <br> - Leonardo Da Vinci -
	   <!--<img src="{{site.baseurl}}/assets/img/tree_01.svg" class="svg-image">-->
	</div>
	<h2>Skills, Tools and techniques I work with.</h2>
	<div class="info-container align-left">
		<h3>Programmation</h3>
		<span class="intent">
			Devéloppement Web, HTML(5),
			<span class="tooltip">JavaScript (+frameworks)
				<span>I really like the smell of Vanilla. <br>That said frameworks and libraries do a great job sometimes. <br>I am in touch with stuff like jquery, angular etc.</span>
			</span>, CSS3, Node, NPM,
			<span class="tooltip">Tasks,
				<span>Personal choice: but I rather Gulp things than Grunt it but both is possible</span>
			</span>
			<span class="tooltip"> CMS, CMF
				<span>Personal choice: processwire, Jekyll for static site generation. </span>
			</span><br>
			Processing<br>
			Haxe !<br>
			Flex 4.x, ActionScript 3.0, AIR 3.0, Robotlegs 2<br>
			PHP, TCL, C++ <br>
			Unity3D (Scripting en JavaScript et C#)
		</span>
		<h3>Base de données</h3>
		<span class="intent">
			MySQL, Oracle, Sybase, MongoDB
		</span>
		<h3>Diverses</h3>
		<span class="intent">
			Blender, Google SketchUp, Gimp, (Photoshop)
		</span>
		<h3><a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages#Common_reference_levels" target="_blank">Languages</a></h3>
		<span class="intent">
		Allemand (Native), Français (Niveau C2 (C1 écrire)), Anglais (Niveau C1),
			Spanish (Niveau A1), Breton (Niveau A1)
		</span>
		<h3>Permis</h3>
		<span class="intent">
			Permis de conduire
		</span>
	</div>
</div>
</section>
<section class="section-layout">
	<div class="header-wrapper color-water">
		<h1 class="section-header">Education et formation</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-water">
			“Education isn't something you can finish” <br> - Isaac Asimov -
		</div>
		<h2>From childhood to Now - till I die</h2>
		<div class="info-container align-left">
			<h3>Courses en ligne MOOK (en progres)</h3>
			<ul>
				<li>Discovery Precalculus: A Creative and Connected Approach </li>
				<li>Introduction to MongoDB using the MEAN stack</li>
				<li>Goldsmiths University of London - Creative Programming for Audiovisual Art </li>
				<li>Goldsmiths University of London - Machine Learning for Musicians and Artists </li>
			</ul>
			<h3>Courses en ligne MOOK (terminés)</h3>
			<ul>
				<li>Processing Fondation - The nature of code - <a href="https://www.kadenze.com/certificates/O2OFZPIZ" target="_blank">Certificate</a></li>
				<li>University Carlos III de Madrid - The Software Architect: Building the Digital World - <a href="https://courses.edx.org/certificates/c933dd8263a645a990a51ac29053023e" target="_blank">Certificate</a></li>
				<li>University Côte d’Azur - HTML5 Part 2: Advanced Techniques for Designing HTML5 Apps - <a href="https://courses.edx.org/certificates/22dacbd2080445e6b8d7c6ad9def74f6" target="_blank">Certificate</a></li>
				<li>University Côte d’Azur - HTML5 Part 1: HTML5 Coding Essentials and Best Practices - <a href="https://courses.edx.org/certificates/c037d454a69c40fd84bb6444e3524fa0" target="_blank">Certificate</a></li>
				<li>The University of Adelaide - Think. Create. Code - <a href="https://courses.edx.org/certificates/1dfe22f084324534988c3964c45c250a" target="_blank">Certificate</a></li>
			</ul>
			<h3>Sinon</h3>
			<ul>
					<li><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Code School</a> - Shaping up with Angular.js</li>
					<li>Programmeur professionnel C et C++ WIFI Wien (<span class="bold">WI</span>rtschafts<span class="bold">F</span>orschungs<span class="bold">I</span>nstitiut – Institut de recherche économique à Vienne) </span></li>
			</ul>
		</div>
	</div>
</section>
<section class="section-layout">
	<div class="header-wrapper color-earth">
		<h1 class="section-header">Intérêts</h1>
	</div>
	<div class="section-content">
		<div class="side-container shadow border-earth"></div>
		<h2>The world is a beautiful place</h2>
		 <div class="info-container align-left">
			Nature, Musique, Jonglage, Vélo, Langues, Arts et Art numeriques
		 </div>
	</div>
</section>
