<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}"{% if page.fb-img %} xmlns:fb="http://ogp.me/ns/fb#"{% endif %}>
<head>
    {% capture page_description %}
    {% if page.description %}
        {{ page.description }}
    {% else %}
        {{ site.description }}
    {% endif %}
    {% endcapture %}
    {% assign page_description = page_description | strip | strip_newlines | truncate: 160 %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="now">
    <meta http-equiv="pragma" content="no-cache">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Language" content="en,fr">

    {% if page.fb-img %}<meta property="og:image" content="{{site.url}}/{{page.fb-img}}"/>{% endif %}
    <meta name="description" content="{{ page_description }}">
    <title>{{site.title}}{% if page.title %} - {{page.title}}{% endif %}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main_print.css"/>
    <!--<link rel="stylesheet" href="{{site.baseurl}}/css/navigation.css"/>-->
    <!-- custom styles -->
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/{{ page.stylesheet }}"/>
    {% endif %}
    {% if layout.stylesheet %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/{{ layout.stylesheet }}"/>
    {% endif %}
    <!-- custom javascript in the header-->
    {% for item in page.head-js %}
        <script src="{{site.baseurl}}/js/{{ item }}"></script>
    {% endfor %}
    <!--{% if page.head-js %}
    <script src="{{site.baseurl}}/js/{{ page.head-js }}"></script>
    {% endif %}-->
    {% if layout.head-js %}
    <script src="{{site.baseurl}}/js/{{ layout.head-js }}"></script>
    {% endif %}

</head>
<body>
  <div class="mainContent" role="presentation">
    <main>
        {{content}}
    </main>
    <!-- custom javascript at the end of the body-->
    {% if page.body-js %}
    <script src="{{site.baseurl}}/js/{{ page.body-js }}"></script>
    {% endif %}
    {% if layout.body-js %}
    <script src="{{site.baseurl}}/js/{{ layout.body-js }}"></script>
    {% endif %}
  </div>
</body>
</html>
